<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>
<div class="container">
    <hr>
    <h2>Articles</h2>
    <a class="btn btn-success" href="/admin/articles/new">Add new article</a>
    <hr>
    <% articles.forEach(article => { %>
        <div class="card">
            <h2 class="card-header"><%= article.title %></h2>
            <p class="card-body"><%= article.body %></p>
            <br>
            <label>Category</label>
            <span><%= article.categoryId %></span>
        </div>
    <% }) %>
</div>
<%- include ('../../partials/footer.ejs'); %>
